name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on tags like v1.0.0

jobs:
  build-release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyQt6 requests keyring pyinstaller==6.16.0

      - name: Build with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --icon="assets/wifi_icon_256x256.ico" --name "CSU-WIFI-AutoLogin-${{ github.ref_name }}" CSU_WIFI_Login.py

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/CSU-WIFI-AutoLogin-${{ github.ref_name }}.exe
